*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(125, 125, 125);
    //background-color: #3924af;
    //background-image: linear-gradient(to top, red, orange, yellow, white);
    header{
        .web-title{
            font-size: 390%;
            font-weight: bolder;
            font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
            margin: 10px 0px 0px 100px;
            text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.582);
        }
        .head{
            background-color: black;
            height: 165px;
            margin: 10px 0px 10px 0px;
            .search{
                display: flex;
                justify-content: center;
                input{
                    font-size: 220%;
                    border-radius: 20px;
                    padding: 7px 12px 7px 12px;
                    margin: 20px 0px 20px 0px;
                    box-shadow: -2px -2px 3px rgb(79, 79, 79) inset;
                    font-weight: lighter;
                }
                input#my-input {
                    background-image: url("lupa.png");
                    background-size: 25px;
                    background-repeat: no-repeat;
                    text-indent: 35px;
                    transition:0.1s;
                    background-position-x: 15px;
                    background-position-y: 14px;
                }
                input#my-input:focus {
                    background-image: none;
                    text-indent: 10px;
                    transition: 0.5s;
                }
            }
            .filters{
                display: flex;
                justify-content: center;
                row-gap: 5px;
                column-gap: 70px;
                flex-wrap: wrap;
                select{
                    font-size: 140%;
                    background-color: rgb(200, 200, 200);
                    padding: 10px;
                    border-radius: 30px;
                }
            }
        }
    }
    main{
        .flex-container{
            display: flex;
            gap: 120px;
            flex-wrap: wrap;
            margin: 100px 150px 100px 150px;
            justify-content: center;
            .movie-card{
                transition: all .2s ease-in-out;
                .rating{
                    vertical-align: top;
                    height: 32px;
                    width: 100px;
                    overflow: hidden;
                    line-height: 1;
                    text-transform: uppercase;
                    display: inline-block;
                    font-family: 'Roboto Condensed', serif;
                    //background-color: rgb(18, 120, 3);
                    background-color: rgb(56, 56, 56);
                    color: white;
                    text-align: center;
                    padding-top: 8px;
                    font-size: 150%;
                    position: relative;
                    top: 4px;
                    z-index: -1;
                    border-radius: 4px;
                }
                .movie{
                    background-color: rgb(56, 56, 56);
                    box-shadow: 30px 30px 20px rgb(0, 0, 0);
                    /*height: auto;*/
                    height: 470px;
                    width: 280px;
                    cursor: pointer;
                    border-radius: 4px;
                    .movie-title{
                        text-align: center;
                        font-weight: bolder;
                        font-size: 200%;
                        font-family: Arial, Helvetica, sans-serif;
                        color: rgb(255, 255, 255);
                        padding: 0px 17px 0px 17px;
                    }
                    .image{
                        padding: 20px 20px 10px 20px;
                    }
                    .info{
                        padding: 10px 20px 10px 20px;
                        color: white;
                        font-size: larger;
                        font-family: Calibri, Helvetica, sans-serif;
                        display: grid;
                        grid-template-columns: 120px auto;
                        .main-text{
                            font-weight: bolder;
                        }
                    }
                }
            }
            .movie-card:hover{
                transform: scale(1.09);
            }
        }
    }
    footer{
        background-color: black;
        color: aliceblue;
        text-align: center;
        font-size: 140%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 45px;
        padding-top: 12px;
    }
}