@import url('https://unpkg.com/css.gg@2.0.0/icons/css/trash.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
}
#modal{
    margin: 110px;
    text-align: center;
    background-color: rgb(169, 169, 169);
    padding: 5px 100px 0 100px;
    position: relative;
    bottom: 110px;
    border: 3px solid black;
    box-shadow: 0px 0px 500px rgb(55, 54, 54) inset;
    h2 {
        font-size: 220%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h4 {
        font-size: 120%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    input {
        width: 71%;
        margin: 15px 0 25px 0;
        font-size: 120%;
        padding: 7px;
        border: 3px solid black;
        font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
    }
    input:focus{
        box-shadow: 1px 1px 17px rgb(0, 0, 0);
    }
    textarea {
        width: 71%;
        font-size: 120%;
        resize: none;
        margin: 15px 0 40px 0;
        padding: 7px;
        font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
        border: 3px solid black;
    }
    textarea:focus{
        box-shadow: 1px 1px 17px rgb(0, 0, 0);
    }
    .add {
        width: 20%;
        height: 40px;
        background-color: rgb(77, 176, 24);
        color: black;
        font-size: 160%;
        margin: 10px 10px 20px 10px;
        transition: 0.5s;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        border-radius: 7px;
    }
    .add:hover {
        background-color: rgb(92, 227, 14);
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        border: 2.5px solid black;
    }
    .cancel {
        width: 20%;
        height: 40px;
        background-color: rgb(196, 11, 11);
        color: black;
        font-size: 160%;
        margin: 10px 10px 20px 10px;
        transition: 0.5s;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        border-radius: 7px;
    }
    .cancel:hover {
        background-color: rgb(255, 0, 0);
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        border: 2.5px solid black;
    }
    select{
        font-size: 140%;
        background-color: rgb(200, 200, 200);
        padding: 10px;
        border-radius: 30px;
        margin: 15px 0 30px 0;
        border: 3px solid black;
    }
    select:focus{
        box-shadow: 1px 1px 17px rgb(0, 0, 0);
    }
}
.modal-add{
    position: relative;
    top: -89px;
}


body{
    background-color: rgb(125, 125, 125);
    //background-color: #3924af;
    //background-image: linear-gradient(to top, red, orange, yellow, white);
    header{
        .web-title{
            font-size: 390%;
            font-weight: bolder;
            font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
            margin: 10px 0px 0px 100px;
            text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.582);
        }
        .head{
            background-color: black;
            height: 165px;
            margin: 10px 0px 10px 0px;
            .search{
                display: flex;
                justify-content: center;
                input{
                    font-size: 220%;
                    border-radius: 20px;
                    padding: 7px 12px 7px 12px;
                    margin: 20px 0px 20px 0px;
                    box-shadow: -2px -2px 3px rgb(79, 79, 79) inset;
                    font-weight: lighter;
                }
                input#my-input {
                    background-image: url("lupa.png");
                    background-size: 25px;
                    background-repeat: no-repeat;
                    text-indent: 35px;
                    transition:0.1s;
                    background-position-x: 15px;
                    background-position-y: 14px;
                }
                input#my-input:focus {
                    background-image: none;
                    text-indent: 10px;
                    transition: 0.5s;
                }
            }
            .filters{
                display: flex;
                justify-content: center;
                row-gap: 5px;
                column-gap: 70px;
                flex-wrap: wrap;
                select{
                    font-size: 140%;
                    background-color: rgb(200, 200, 200);
                    padding: 10px;
                    border-radius: 30px;
                }
            }
        }
        .add-movie{
            background-color: rgb(51, 203, 51);
            float: right;
            margin: 40px 90px 0 0;
            font-size: 190%;
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            padding: 7px;
            border-radius: 15px;
            box-shadow: 1px 1px 15px rgb(0, 0, 0);
            transition: 0.5s;
        }
        .add-movie:hover{
            background-color: rgb(15, 241, 15);
            cursor: pointer;
            transform: rotate(5deg) scale(1.08);
        }
    }
    main{
        .flex-container{
            display: flex;
            gap: 120px;
            flex-wrap: wrap;
            margin: 140px 150px 100px 150px;
            justify-content: center;
            .movie-card{
                transition: all .4s ease-in-out;
                .rating{
                    vertical-align: top;
                    height: 32px;
                    width: 100px;
                    overflow: hidden;
                    line-height: 1;
                    text-transform: uppercase;
                    display: inline-block;
                    font-family: 'Roboto Condensed', serif;
                    //background-color: rgb(18, 120, 3);
                    background-color: rgb(56, 56, 56);
                    color: white;
                    text-align: center;
                    padding-top: 8px;
                    font-size: 150%;
                    position: relative;
                    top: 4px;
                    z-index: -1;
                    border-radius: 4px;
                }
                .movie{
                    background-color: rgb(56, 56, 56);
                    box-shadow: 30px 30px 20px rgb(0, 0, 0);
                    /*height: auto;*/
                    height: 100%;  
                    width: 280px;
                    cursor: pointer;
                    border-radius: 4px;
                    .movie-title{
                        text-align: center;
                        font-weight: bolder;
                        font-size: 200%;
                        font-family: Arial, Helvetica, sans-serif;
                        color: rgb(255, 255, 255);
                        padding: 0px 17px 0px 17px;
                    }
                    .image{
                        padding: 20px 20px 10px 20px;
                    }
                    .info{
                        padding: 10px 20px 10px 20px;
                        color: white;
                        font-size: larger;
                        font-family: Calibri, Helvetica, sans-serif;
                        display: grid;
                        grid-template-columns: 120px auto;
                        .main-text{
                            font-weight: bolder;
                        }
                    }
                    .delete{
                        color: white;
                        background-color: rgb(190, 14, 14);
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        float: left;
                        margin: 11px 0 10px 20px;
                        text-align: center;
                        display: flex;
                        align-items: center; 
                        justify-content: center;
                        font-size: 140%;
                        transition: 0.5s ease-in-out;
                        .gg-trash {
                            box-sizing: border-box;
                            position: relative;
                            display: block;
                            transform: scale(var(--ggs,1));
                            width: 10px;
                            height: 12px;
                            border: 2px solid transparent;
                            box-shadow:
                                0 0 0 2px,
                                inset -2px 0 0,
                                inset 2px 0 0;
                            border-bottom-left-radius: 1px;
                            border-bottom-right-radius: 1px;
                            margin-top: 4px
                        }
                    }
                    .delete:hover{
                        background-color: red;
                        transform: scale(1.11);
                        box-shadow: 0px 0px 15px rgb(0, 0, 0);
                    }
                    .edit{
                        float: right;
                        color: white;
                        background-color: rgb(211, 195, 23);
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        margin: 11px 20px 10px 0;
                        font-size: 140%;
                        transition: 0.5s ease-in-out;
                        #fa-edit{
                            padding: 10.4px 10px 10px 11px;
                            color: black;
                            font-weight: bolder;
                        }
                    }
                    .edit:hover{
                        background-color: rgb(255, 234, 0);
                        transform: scale(1.11);
                        box-shadow: 0px 0px 15px rgb(0, 0, 0);
                    }
                }
            }
            .movie-card:hover{
                transform: scale(1.09);
            }
        }
    }
    footer{
        background-color: black;
        color: aliceblue;
        text-align: center;
        width: 100%;
        font-size: 140%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 45px;
        padding-top: 12px;
    }
}