@import url('https://unpkg.com/css.gg@2.0.0/icons/css/trash.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

*{
    margin: 0;
    padding: 0;
}
#modal{
    margin: 110px;
    text-align: center;
    background-color: rgb(169, 169, 169);
    padding: 5px 100px 0 100px;
    position: relative;
    bottom: 110px;
    border: 3px solid black;
    box-shadow: 0px 0px 500px rgb(55, 54, 54) inset;
    h2 {
        font-size: 220%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h4 {
        font-size: 120%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    input {
        width: 71%;
        margin: 15px 0 25px 0;
        font-size: 120%;
        padding: 7px;
        border: 3px solid black;
        font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
    }
    input:focus{
        box-shadow: 1px 1px 17px rgb(0, 0, 0);
    }
    textarea {
        width: 71%;
        font-size: 120%;
        resize: none;
        margin: 15px 0 40px 0;
        padding: 7px;
        font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
        border: 3px solid black;
    }
    textarea:focus{
        box-shadow: 1px 1px 17px rgb(0, 0, 0);
    }
    .add {
        width: 20%;
        height: 40px;
        background-color: rgb(77, 176, 24);
        color: black;
        font-size: 160%;
        margin: 10px 10px 20px 10px;
        transition: 0.5s;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        border-radius: 7px;
    }
    .add:hover {
        background-color: rgb(92, 227, 14);
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        border: 2.5px solid black;
    }
    .cancel {
        width: 20%;
        height: 40px;
        background-color: rgb(196, 11, 11);
        color: black;
        font-size: 160%;
        margin: 10px 10px 20px 10px;
        transition: 0.5s;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        border-radius: 7px;
    }
    .cancel:hover {
        background-color: rgb(255, 0, 0);
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        border: 2.5px solid black;
    }
    select{
        font-size: 140%;
        background-color: rgb(200, 200, 200);
        padding: 10px;
        border-radius: 30px;
        margin: 15px 0 30px 0;
        border: 3px solid black;
    }
    select:focus{
        box-shadow: 1px 1px 17px rgb(0, 0, 0);
    }
}

.modal-add{
    position: relative;
    top: -89px;
}

.multiselect-container {
    margin: 15px;
    width: 150%;
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    
}
.multiselect-container .dropdown-content{
    font-size: 110%;
}
body{
    background: rgb(225, 218, 220);
    //background-color: #3924af;
    //background-image: linear-gradient(to top, red, orange, yellow, white);

    header{
        margin-bottom: 150px;
        .web-title{
            font-size: 390%;
            font-weight: bolder;
            color: rgb(39, 37, 37);
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
            display: grid;
            justify-content: center;
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.077);
            margin-top: 25px;
        }
        
        .head{
            display: flex;
            justify-content:center;
             background: rgb(1,22,30);
background: linear-gradient(12deg, rgba(1,22,30,1) 0%, rgba(18,69,89,1) 30%, rgba(3,102,102,1) 50%, rgba(18,69,89,1) 70%, rgba(1,22,30,1) 100%);
            height: 95px;
            margin: 10px 190px 10px 190px;
            margin-top: 25px;
            border-radius: 50px;
            .search{
                display: flex;
                justify-content: center;
                margin: 5px;
                margin-left: 270px;
                max-width: 1440px;
                margin-left: auto ;
                margin-right: auto ;

                .filters{
                    display: flex;
                    justify-content:space-between;
                    row-gap: 5px;
                    column-gap: 70px;
                    flex-wrap: wrap;
                    margin-left: 270px;
                    select{
                        font-size: 140%;
                        border: none;
                        background-color: #e4d4d400;
                        color: white;
                        padding: 10px;
                        option{
                            background-color: black;
                        }
                    }
                }
           
                input{
                    font-size: 22px;
                    border-radius: 20px;
                    padding: 6px 6px 3px 12px;
                    margin: 20px 0px 20px 0px;
                    font-weight: lighter;
                    border: none;
                }
                input#my-input {
                    background-image: url("lupa.png");
                    background-size: 18px;
                    background-repeat: no-repeat;
                    text-indent: 35px;
                    transition:0.1s;
                    background-position-x: 15px;
                    background-position-y: 13px;
                }
                input#my-input:focus {
                    background-image: none;
                    text-indent: 10px;
                    transition: 0.5s;
                }
            }
        }
        .add-movie{
            background-color: rgb(51, 203, 51);
            float: right;
            margin: 40px 90px 0 0;
            font-size: 190%;
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            padding: 7px;
            border-radius: 15px;
            box-shadow: 1px 1px 15px rgb(0, 0, 0);
            transition: 0.5s;
        }
        .add-movie:hover{
            background-color: rgb(15, 241, 15);
            cursor: pointer;
            transform: rotate(5deg) scale(1.08);
        }
    }

    main{
        .topFilm-section{
            height: 470px;
            .popular-section{
                display: flex;
                flex-wrap: wrap;
                margin: 100px 140px 100px 150px;
                justify-content: center;
                .module-border-wrap {
                    max-width: 250px;
                    padding: 1rem;
                    position: relative;
                    background: linear-gradient(to right, red, purple);
                    padding: 3px;                 
                }     
                .module {
                    background: #1c1c1c;
                    color: white;
                    padding: 1rem;            
                    .popular-header-name{
                        color: white;
                        font-size: 2.2em;
                        margin: 170px 150px 20px 25px;
                    }
                    p{
                        color: white;
                        margin: 0px 0px 20px 25px;
                    }
                } 
                .popular-film{ 
                    cursor: pointer;    
                    width: 200px;     
                    padding: 1.5rem;
                    border-radius: 16px;
                    background: linear-gradient(85deg,#434343,#262626);
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    margin-left: 25px; 
                    img{
                        width: 200px;
                        height: 315px;
                    }
                    .film-info{
                        .rank{
                            width: 55px;
                            height: 55px;
                            font-size: 3em;
                            border-radius: 100%;
                            text-align: center;  
                        }   
                        .first{
                            background-color: rgb(202, 202, 71);
                        }
                        .second{
                            background-color: rgb(194, 194, 176);
                        }
                        .third{
                            background-color: rgb(115, 115, 70);
                        }
                    }         
                }
                .popular-film:hover{
                    transform: scale(1.07);
                }        
            }       
        }

        .flex-container{
            display: flex;
            gap: 120px;
            flex-wrap: wrap;
            margin: 10px 200px 100px 200px;
            justify-content: center;
            .movie-card{
                transition: all .4s ease-in-out;
                position: relative;
                .rating{
                    vertical-align: top;
                    height: 32px;
                    width: 100px;
                    overflow: hidden;
                    line-height: 1;
                    text-transform: uppercase;
                    display: inline-block;
                    font-family: 'Roboto Condensed', serif;
                    //background-color: rgb(18, 120, 3);
                    background-color: rgb(56, 56, 56);
                    color: white;
                    text-align: center;
                    padding-top: 8px;
                    font-size: 150%;
                    position: relative;
                    top: 4px;
                    z-index: -1;
                    border-radius: 4px;
                }
                .movie{
                    background: rgb(1,22,30);
                    background: linear-gradient(12deg, rgba(1,22,30,1) 0%, rgba(18,69,89,1) 30%, rgba(3,102,102,1) 50%, rgba(18,69,89,1) 70%, rgba(1,22,30,1) 100%);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;           /*height: auto;*/
                    height: 470px;
                    width: 280px;
                    border-radius: 12px;
                    .film-description{
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.774);
                        color: #fff;
                        padding: 12px;
                        box-sizing: border-box;
                        border-radius: 12px;
                        transition: opacity 2s ease-in-out;
                        .summary-title{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 150%;
                            font-weight: bolder;
                            margin: 10px 0 10px 0;
                        }
                        .movie-summary{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 105%;
                            height: 78%;
                            overflow: scroll;
                            overflow: auto;
                        }
                        .know-more{
                            font-size: 140%;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            width: 60%;
                            background-color: rgb(25, 25, 199);
                            padding: 10px 0 10px 0;
                            float: right;
                            text-align: center;
                            margin: 3px 7px 10px 0;
                            cursor: pointer;
                            font-weight: bolder;
                            border-radius: 10px;
                            transition: .5s ease-in;
                        }
                        .know-more:hover{
                            background-color: rgb(0, 64, 255);
                            font-size: 150%;
                            color: whitesmoke;
                            box-shadow: 0px 0px 15px rgb(255, 255, 255);
                        }
                    }
                    .movie-title{
                        text-align: center;
                        font-weight: bolder;
                        font-size: 200%;
                        font-family: Arial, Helvetica, sans-serif;
                        color: rgb(255, 255, 255);
                        padding: 0px 17px 0px 17px;
                    }
                    .image{
                        padding: 20px 20px 10px 20px;
                        padding-top: 15px;
                    }
                    .info{
                        padding: 10px 20px 10px 20px;
                        color: white;
                        font-size: larger;
                        font-family: Calibri, Helvetica, sans-serif;
                        display: grid;
                        grid-template-columns: 120px auto;
                        .main-text{
                            font-weight: bolder;
                        }
                    }
                }
            }
            .movie-card:hover{
                transform: scale(1.09);
            }
            .movie-card:hover .film-description{
                display: block;
                opacity: 1;
            }
        }
       
    }
    
    footer{
        background-color: black;
        color: aliceblue;
        text-align: center;
        width: 100%;
        font-size: 140%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 45px;
        padding-top: 12px;
    }
}

.delete{
    color: white;
    background-color: rgb(190, 14, 14);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin: 11px 0 10px 20px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 140%;
    transition: 0.5s ease-in-out;
    .gg-trash {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 10px;
        height: 12px;
        border: 2px solid transparent;
        box-shadow:
            0 0 0 2px,
            inset -2px 0 0,
            inset 2px 0 0;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        margin-top: 4px
    }
}
.delete:hover{
    background-color: red;
    transform: scale(1.11);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.edit{
    float: right;
    color: white;
    background-color: rgb(211, 195, 23);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 11px 20px 10px 0;
    font-size: 140%;
    transition: 0.5s ease-in-out;
    #fa-edit{
        padding: 10.4px 10px 10px 11px;
        color: black;
        font-weight: bolder;
    }
}
.edit:hover{
    background-color: rgb(255, 234, 0);
    transform: scale(1.11);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}