@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(225, 218, 220);
}
body header {
  margin-bottom: 150px;
}
body header .web-title {
  font-size: 390%;
  font-weight: bolder;
  color: rgb(39, 37, 37);
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  display: grid;
  justify-content: center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.077);
  margin-top: 25px;
}
body header .head {
  display: flex;
  justify-content: center;
  background: rgb(1, 22, 30);
  background: linear-gradient(12deg, rgb(1, 22, 30) 0%, rgb(18, 69, 89) 30%, rgb(3, 102, 102) 50%, rgb(18, 69, 89) 70%, rgb(1, 22, 30) 100%);
  height: 95px;
  margin: 10px 190px 10px 190px;
  margin-top: 25px;
  border-radius: 50px;
}
body header .head .search {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-left: 270px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
body header .head .search .filters {
  display: flex;
  justify-content: space-between;
  row-gap: 5px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  flex-wrap: wrap;
  margin-left: 270px;
}
body header .head .search .filters select {
  font-size: 140%;
  border: none;
  background-color: rgba(228, 212, 212, 0);
  color: white;
  padding: 10px;
}
body header .head .search .filters select option {
  background-color: black;
}
body header .head .search input {
  font-size: 22px;
  border-radius: 20px;
  padding: 6px 6px 3px 12px;
  margin: 20px 0px 20px 0px;
  font-weight: lighter;
  border: none;
}
body header .head .search input#my-input {
  background-image: url("lupa.png");
  background-size: 18px;
  background-repeat: no-repeat;
  text-indent: 35px;
  transition: 0.1s;
  background-position-x: 15px;
  background-position-y: 13px;
}
body header .head .search input#my-input:focus {
  background-image: none;
  text-indent: 10px;
  transition: 0.5s;
}
body main .flex-container {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
  margin: 10px 2px 100px 2px;
  justify-content: center;
}
body main .flex-container .movie-card {
  transition: all 0.2s ease-in-out;
}
body main .flex-container .movie-card .rating {
  vertical-align: top;
  height: 32px;
  width: 100px;
  overflow: hidden;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Roboto Condensed", serif;
  background-color: rgb(56, 56, 56);
  color: white;
  text-align: center;
  padding-top: 8px;
  font-size: 150%;
  position: relative;
  top: 4px;
  z-index: -1;
  border-radius: 4px;
}
body main .flex-container .movie-card .movie {
  background: rgb(1, 22, 30);
  background: linear-gradient(12deg, rgb(1, 22, 30) 0%, rgb(18, 69, 89) 30%, rgb(3, 102, 102) 50%, rgb(18, 69, 89) 70%, rgb(1, 22, 30) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; /*height: auto;*/
  height: 470px;
  width: 280px;
  cursor: pointer;
  border-radius: 12px;
}
body main .flex-container .movie-card .movie .movie-title {
  text-align: center;
  font-weight: bolder;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  padding: 0px 17px 0px 17px;
}
body main .flex-container .movie-card .movie .image {
  padding: 20px 20px 10px 20px;
  padding-top: 15px;
}
body main .flex-container .movie-card .movie .info {
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: larger;
  font-family: Calibri, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 120px auto;
}
body main .flex-container .movie-card .movie .info .main-text {
  font-weight: bolder;
}
body main .flex-container .movie-card:hover {
  transform: scale(1.09);
}
body footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 140%;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 45px;
  padding-top: 12px;
}/*# sourceMappingURL=style.css.map */